.header{
    position: fixed;
    z-index:100;
    top:0;
    padding:11px var(--_sizes---global-padding--regular);
    width:100%;
    background-color:var(--main-background);
    transform: translateY(-100%);
}
.header__inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    height:1.05rem;
}
.header__list{
    display: flex;
    gap:1.375rem;
    list-style: none;
}
.header__list a{text-decoration: none;transition: .2s;}
.header__list a:hover{opacity: .5;}
.header__item{
    color:var(--color-250);
    opacity:90%;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: var(--text-sm);
}
.header__button{
    font-size: var(--text-sm);
    background-color: var(--blue-500);
    border:1px solid var(--blue-500);
    font-family: var(--font-inter);
    transition: .2s;
    color: #fff;
    font-weight:500;
    padding:.687rem 1.56rem;
    border-radius:12px;
    cursor:pointer;
}
.header__button:hover{
    color: var(--blue-500);
    background-color: #fff;
    transform: scale(.98);
}
@media (max-width: 1200px) {
    .header nav {display: none;}
}