:root {
    --main-background: #0D1526;

    --color-50:  #FBFEFF;
    --color-100: #FAFBFD;
    --color-150: #E3EAF3;
    --color-200: #E0E6F0;
    --color-250: #C7D1DC;
    --color-300: #C2CAD9;
    --color-350: #ACB0B9;
    --color-400: #596881;
    --color-450: #5C6B7D;
    --color-500: #545454;
    --color-600: #454D62;
    --color-700: #2A3550;
    --color-800: #1A2540;
    --color-850: #16233C;
    --color-900: #141C31;
    --color-950: #0E203A;
    --color-1000:#05122A;
    --color-1100:#0C1220;
    --color-1200:#07060C;

    
    --blue-500:   #4D79E6;
    --blue-600:   #3172F7;

    --green-500:  #28BC5E;
    --yellow-500: #F2A618;
    --red-500:    #FF3535;
    --purple-500: #B13BFF;

    --_sizes---global-padding--regular:4.25rem;
    --text-xs: .75rem; /* 12px */
    --text-sm: .875rem; /* 14px */
    --text-base: 1rem; /* 16px */
    --text-l: 3rem; /* 48px */
}
*{margin: 0;padding: 0;box-sizing: border-box;}
body {
  font-family: var(--font-space-grotesk);
  background-color: var(--main-background);
}
/* main{
    padding:0 var(--_sizes---global-padding--regular);
} */
@media (max-width: 1200px) {
    :root{
        --_sizes---global-padding--regular:2rem
    }
}
@media (max-width: 800px) {
    :root{
        --_sizes---global-padding--regular:1rem;
        --text-sm: .75rem; 
        --text-base: .875rem; 
        --text-l: 2rem;
    }
}